{
  "groupId": "",
  "lolhuman": "a7a9a1fc750264b40f6270aa",
  "botname": "𝐒𝐏𝐄𝐂𝐓𝐑𝐀-𝐕𝟏",
  "timezone": "Africa/Dar_es_Salaam",
  "footer": "𝐒𝐏𝐄𝐂𝐓𝐑𝐀-𝐕𝟏 • Ghost King",
  "ownerNumber": "+255719632816",
  "link_group": "https://chat.whatsapp.com/Kw6Iewqzg3bJvIhQlvnp4l?mode=ems_copy_t"
}
